header {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

a {
    padding: 1rem;
}

.voltar {
    display: flex;
    justify-content: start;
    align-items: end;
}

.prosseguir {
    display: flex;
    justify-content: end;
    align-items: end;
}

.link{
    padding: 0;
}

.jogo {
    padding: 3rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.comandos {
    width: 5rem;
    height: 20rem;
    background-color: darkgrey;
    border: 2px solid black;
    padding: 1rem;
    border-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tabuleiro {
    width: 20rem;
    height: 20rem;  
    background-color: lightgray; 
    border: 2px solid black; 
    display: grid; 
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;                   
}

.controles {
    padding: 0.2rem;
    background-color: gray;
}

button > img{
    width: 32px;
    height: 32px;
}

.jogo > div {
    display: flex;
}

.listaDeComandos {
    width: 20rem;
    height: 6rem;
    background-color: darkgrey;
    border: 2px solid black;
    border-top: 0px;    
}

.enviar {
    width: 5rem;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
}

.personagem {
    grid-column: 1; 
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}