header {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

a {
    padding: 1rem;
}

.voltar {
    display: flex;
    justify-content: start;
    align-items: end;
}

.prosseguir {
    display: flex;
    justify-content: end;
    align-items: end;
}

.link{
    padding: 0;
}

jogo {
    padding: 3rem;
    border: 2px solid black;
    display: flex;
    justify-content: start;
}

comandos {
    width: 10rem;
    height: 20rem;
    background-color: darkgrey;
    border: 2px solid black;
    padding: 1rem;
    border-left: 0;
}

tabuleiro {
    width: 20rem;
    height: 20rem;  
    background-color: lightgray; 
    border: 2px solid black; 
    padding: 1rem;                   
}