header {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: row;
}

a {
    padding: 1rem;
}
.voltar {
    display: flex;
    justify-content: start;
    align-items: end;
}

.prosseguir {
    display: flex;
    justify-content: end;
    align-items: end;
}

tabuleiro {
    width: 20rem;
    height: 20rem;  
    background-color: lightgray; 
    border: 2px solid black; 
    padding: 1rem;                   
}